.macondo-regular {
  font-family: "Macondo", cursive;
  font-style: normal;
}

.pinyon-script-regular {
  font-family: "Pinyon Script", cursive;
  font-weight: 600;
  font-size: 2.5rem;
  font-style: normal;
}


