.footer {
  width: 100%;
  color: #3a2a17;
  font-family: "Georgia", serif;
  margin-bottom: -1%;
  padding: 0;
}

/* TOP AREA */
.footer-top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 8rem 2vw 14vw;
}

.footer-block h3,
.footer-block h4 {
  font-size: 1.5rem;
  margin-bottom: 12px;
}

.footer-block p {
  font-size: 1rem;
  line-height: 1.6;
}

.footer-block a {
  color: inherit;
  text-decoration: none;
}

.footer-block a:hover {
  text-decoration: underline;
}

.footer-block ul {
  list-style: none;
  padding: 0;
}

.footer-block ul li {
  margin-bottom: 8px;
}

/* BOTTOM STRIP */
.footer-bottom {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 25px 1vw;
}

.socials {
  display: flex;
  justify-content: start;
  gap: 18px;
  margin-bottom: 12px;
}

.socials a {
  font-size: 1.2rem;
  color: inherit;
}

.footer-bottom span {
  color: #8b0000;
}

.footer-bottom p {
  font-size: 1.15rem;
  margin: 5px 0;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .footer-top {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
